<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改成功</title>
</head>
<script type="text/javascript">

    window.onload = function(){
        var count = 8;
        setInterval(function(){
        count--;
        if(count == 0){
        window.location.href={%url 'Login:rt_l'%};//跳转后的页面
        }else{
        document.getElementById("count-span").innerHTML = count;
        }
        },1000);
    }

</script>

<body>
 <p>
 此页面<span id="count-span">8</span>秒后将自动跳转
</p>
    <a href={%url 'Login:rt_l'%}>点击返回登录界面</a>
</body>
</html>