<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>用户中心</title>
     <link rel="stylesheet" href={%static 'css/userdetails.css'%}>
     <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet">
</head>


<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
 <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/dropdown.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.0.1/js/tab.js"></script>
<script>
    $.ajaxSetup({
            data:{csrfmiddlewaretoken:'{{ csrf_token }}'}
        });

/*多个按钮绑定一个函数不能用jquery的方式*/
function c(self) {/*利用self来获取自己的id值*/
    var txt;
      var signPassword = prompt("请输入签到密码：", );
      if (signPassword == null || signPassword == "") {
        txt = "发布失败,用户已取消发布或签到密码为空";
        alert(txt);
        return false;
      } else {
           data={
                     'signPassword':signPassword,
                     'l_id':self.id
                 };
          $.ajax({
                 url:"{%url 'User:publish_sign'%}",
                 type: "POST",
                 dataType: "json",
                 data:data,
                 success:function(data){
                     console.log(data["result"]);
                     alert(data['result']);
                },
             });
      }
 }

 $(document).ready(function(){
     $("#crname").click(function () {/*修改昵称（异步）*/
          if ($("#rname").val()==''){
              alert("修改名字不能为空");
              return false;
         }
         if(confirm("确定修改？")){
             $.ajax({
                 url:"{%url 'User:rname'%}",
                 type: "POST",
                 dataType: "json",
                 data:{
                     'name':$("#rname").val()
                 },
                 success:function(data){
                     console.log(data["result"]);
                     alert(data['result']);
                     window.location.reload()
                },
             });
          }else {
              return false;
          }
     });
        });
</script>

<body>
<div class="container">
	<div class="row clearfix">
			<div class="col-md-12 column">
                <ul class="nav nav-tabs">
                    <li class="active">
                         <a href={%url 'lecture_system:index'%}>/首页</a>
                    </li>
                    <li>
                        <a href={%url 'User:index'%}>{{name}}的个人中心</a>
                    </li>
                    <li >
                        <a href={%url 'lecture_system:publish'%}>发布讲座</a>
                    </li>
                    <li class="dropdown pull-right">
                         <a href="#" data-toggle="dropdown" class="dropdown-toggle">其它操作<strong class="caret"></strong></a>
                        <ul class="dropdown-menu">
                            <li >
                                 <a href={%url 'User:loginout'%}>注销</a>
                            </li>
                            <li >
                                 <a href={%url 'User:rpassword'%}>修改密码</a>
                            </li>
                        </ul>
                    </li>
			</ul>

		</div>
			<div class="row clearfix" style="margin-top: 50px">
				<div class="col-md-12 column">

                <div class="tabbable" id="tabs-129758">
				<ul class="nav nav-tabs">
					<li class="active">
						 <a href="#panel-873022" data-toggle="tab">我的信息</a>
					</li>
					<li>
						 <a href="#panel-78652" data-toggle="tab">已预约讲座</a>
					</li>
                    <li>
						 <a href="#panel-65222" data-toggle="tab">已听讲座</a>
					</li>
                    <li>
						 <a href="#panel-42633" data-toggle="tab">已发布讲座</a>
					</li>
                    <li>
						 <a href="#panel-37633" data-toggle="tab">修改昵称</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-873022">
						 <div style='margin-left: 500px;margin-top: 10px;margin-bottom: 30px'>我的信息</div>
                               <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">
                                            昵称
                                        </th>
                                        <th style="text-align:center">
                                           用户名
                                        </th>
                                        <th style="text-align:center">
                                            密码
                                        </th>
                                        <th style="text-align:center">
                                           绑定手机
                                        </th>
                                        <th style="text-align:center">
                                           绑定邮箱
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {{ name }}
                                        </td>
                                        <td>
                                            {{ UserMessage.Username}}
                                        </td>
                                        <td>
                                            {{ UserMessage.PassWord}}
                                        </td>
                                        <td>
                                           {{ UserMessage.PhoneNumber}}
                                        </td>
                                        <td>
                                            {{ UserMessage.Email}}
                                        </td>

                                </tbody>
                            </table>
                    </div>
                    <div class="tab-pane" id="panel-78652">
                        <div style='margin-left:500px;margin-top: 10px;margin-bottom: 30px'>已预约讲座记录</div>
                            {% if rlecture %}
                                <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" >
                                           讲座名称
                                        </th>
                                        <th style="text-align:center" >
                                           主讲人
                                        </th>
                                        <th style="text-align:center" >
                                           讲座时间
                                        </th>
                                        <th style="text-align:center" >
                                           讲座地点
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for c in rlecture %}
                                    <tr>
                                        <td>
                                            {{ c.Lecture_title}}
                                        </td>
                                        <td>
                                             {{ c.Lecture_Pname}}
                                        </td>
                                        <td>
                                             {{ c.Lecture_Stime}}
                                        </td>
                                        <td>
                                             {{ c.Lecture_Location}}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {% else %}
                                <span style='margin-left: 516px;margin-top: 50px;margin-bottom: 30px'>暂无记录</span>
                            {% endif %}
                    </div>
                    <div class="tab-pane" id="panel-65222">
                        <div style='margin-left: 500px;margin-top: 10px;margin-bottom: 30px'>已听讲座记录</div>
                         {% if llecture %}
                               <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th style="text-align:center" >
                                           讲座名称
                                        </th>
                                        <th style="text-align:center" >
                                           主讲人
                                        </th>
                                        <th style="text-align:center" >
                                           讲座心得操作
                                        </th>
                                        <th style="text-align:center" >
                                           讲座心得提交状态
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for c in llecture %}
                                    <tr>
                                        <td>
                                            {{ c.Lecture_title}}
                                        </td>
                                        <td>
                                             {{ c.Lecture_Pname}}
                                        </td>
                                        <td>
                                            <a href={%url 'User:lecture_experience'%}?l_id={{ c.id }}>填写讲座心得</a>
                                        </td>
                                        <td>
                                            {{ c.status }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                         {% else %}
                             <span style='margin-left: 516px;margin-top: 50px;margin-bottom: 30px'>暂无记录</span>
                         {% endif %}
                    </div>
                     <div class="tab-pane " id="panel-42633">
                        <div style='margin-left: 500px;margin-top: 10px;margin-bottom: 30px'>已发布讲座记录</div>
                            {% if plecture %}
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th style="text-align:center" >
                                               讲座名称
                                            </th>
                                            <th style="text-align:center" >
                                               主讲人
                                            </th>
                                            <th style="text-align:center" >
                                               讲座时间
                                            </th>
                                            <th style="text-align:center" >
                                               讲座地点
                                            </th>
                                            <th style="text-align:center" >
                                               讲座发布
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for c in plecture %}
                                        <tr>
                                            <td>
                                                {{ c.Lecture_title}}
                                            </td>
                                            <td>
                                                 {{ c.Lecture_Pname}}
                                            </td>
                                            <td>
                                                 {{ c.Lecture_Stime}}
                                            </td>
                                            <td>
                                                 {{ c.Lecture_Location}}
                                            </td>
                                            <td>
                                                <input class="publish" type='button' id='{{ c.id }}' value="发布签到" onclick='c(this)'/>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <span style='margin-left: 516px;margin-top: 50px;margin-bottom: 30px'>暂无记录</span>
                            {% endif %}
                    </div>
                <div class="tab-pane " id="panel-37633">
                    <div style='margin-left: 500px;margin-top: 10px;margin-bottom: 30px'>修改昵称</div>
                        <span style="margin-left: 25%">请输入需要修改的昵称:<input id="rname" style="margin-left: 20px;margin-right: 20px"></span><button id="crname">提交</button>
				</div>
			</div>
				</div>
			</div>
		</div>
    </div>
</div>
</body>
</html>